## Deal w/ Chinese Character

### Insert Chinese Character into Tables

- example: nCov_data/ github, [example link](https://github.com/stoneflyop1/SimpleUsers/blob/master/sql/scripts/dump.sql)

- create table as following: 
```py
CREATE TABLE IF NOT EXISTS tbl_name ( ... )CHARACTER SET = utf8;
```

- open the database db as following: 
```
db1 = mysql.connect(host = xxx, user = xxx, passwd = xxx, db = 'xxx_data', use_unicode=True, charset="utf8")
```

## Run Script in Terminal

### Run the sql script from command directly

```mysql -u username -p data_base_name < test.sql```

### Run the sql in the mysql command line

`mysql> source \home\user\Desktop\test.sql;`

## Deal w/ Time Series

### Compare date time

- Choose data in one date

`where updateTime between date('2020-02-10') and date('2020-02-12')`

## w/ Pandas

### import data to Pandas

`df = pd.read_sql(select_sql_sentence, con = db1)`

### Deal w/ Data

#### Update Query

```
update prov_lkup, (
    select distinct prov_lkup.fd1, prov_data.fd2
    from prov_lkup, prov_data
    
    where prov_lkup.id = prov_data.id
    )as source
set prov_lkup.fd2 = source.fd2
where prov_lkup.id = source.id;

```