## Deal w/ Dataframe

### Sort By

`result = df.sort_values(['A', 'B'], ascending=[1, 0])`

### drop duplicates

`df_short = df_short.drop_duplicates([col1, col2], keep='last')`

### drop w/ condition

`df.drop(df[df[col] == value], inplace = True)`

### diff by group 
`df[new_col] = df.groupby('groupby_col')['to_diff_col'].diff()`

### calculate by group 

`df.groupby(['col1', 'col2']).sum()`

### create duplicate by value

`df = df.loc[df.index.repeat(df[col_name])]`

### Find String

`df[df[col_name].str.contains("sub_string1|sub_string2")]`

### Replace str w/ re.findall 

`df[col].replace('(http.*?)\s', 'URL', regex = True, inplace = True)`

### Lower Case

`df[col].str.lower()`

### Find Rows

- find rows equal to some values

`temp_df = df.loc[df[level_col] == i, ]`

### Col turn to Row

`df.melt(id_vars=['no_change_col1', 'no_change_col2'], value_vars=[col_1_row, col_2_row])`

### Deal w/ Series

#### Get 1st Value in Series

- use iloc

`temp_df[prv].iloc[0]`

- use list())dflist()

``

### Set index

`df.set_index('id', inplace = True)`

### Assign Value to One Cell

`df.at[2, 'comment'] = 'good' # 2 is index`

### append another df1 to df2

`df1.append(df2)`

## Series w/ Operation

### Series reshape

Need to add values

`a.values.reshape(x, x)`

## Data Type

### Change Col Type

`df['col_name'] = df.astype({'col_name': 'float'}).dtypes`

## Plot

### Time Series w/ Scatter Plot

- Just transfer the col to datetime. Then use the matplotlib for the plotting

`x = pd.to_datetime(df_short[dt_time], format='%Y-%m-%d') # if x is not time series type`

`plt.scatter(x, df_short['curedCount'])`

`plt.savefig('test.png')`

### pd Scatter Plot

- basic scatter plot

    - alpha to set the color transparency

`df.plot(kind = 'scatter', x = 'col1_name', y = 'col2_name', alpha = .1)`

- scatter have 4 info (example is the hands-on ch2/ visualizing geographical data)

    - show the population of the scatter cycle size 

    - show the house value w/ the color map

```
df.plot(kind = 'scatter', x = 'longitude', y = 'latitude', alpha = .4, 
    s = df['population']/ 100, label = 'population', figsize = (10, 7), 
    c = 'median_house_value', cmap = plt.get_cmap("jet"), colorbar = True)
    plt.legend()```

### pd hist plot

`df[col].hist()`

parameter: 

- normed = True


## Time Series

### Add or Minus One Day

- use the pd.Timedelta(xxx)

`df_short[dt_time].min() - pd.Timedelta(days = 1)`

## Deal w/ Null/ NaN/ etc


### NaN

- check if there is NaN Value

`df['col_name'].isnull().values.any()`

- Show NaN Rows

`nan_rows = df[df['col_name'].isnull()]`

In [2]:
import pandas as pd
df = pd.read_csv('sitka_weather_2018_full.csv')

df[df['TMAX'].isnull()]

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNWD,TAVG,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT04,WT05,WT08
393,USW00025333,"SITKA AIRPORT, AK US",2019-01-31,3.36,1846.0,0.02,NaN,NaN,NaN,NaN,320.0,330.0,17.0,21.9,NaN,NaN,NaN,NaN,NaN

- replace that col's NaN with 0

- replace that col's NaN with other col value

    `df[col_w_nan].fillna(df[col_to_replace], inplace = True)`

In [4]:
import pandas as pd
df = pd.read_csv('sitka_weather_2018_full.csv')
df['TMAX'].fillna(0, inplace = True)
df['TMAX'].isnull().values.any()

False

- drop the NaN row with that col

In [6]:
import pandas as pd
df = pd.read_csv('sitka_weather_2018_full.csv')
df.dropna(subset = ['TMAX'], inplace = True)
df['TMAX'].isnull().values.any()

False

- drop NaN col with threshold

`df1.dropna(thresh=2,axis=1)`

`df1.dropna(how='all',axis=1)`

### Deal w/ NaN Special Notice

- Decimal Datatype

    - If checked the Dataframe with `isnull` function, and the hist still shows NaN error. Check the datatype if decimal. 

    - Solution: convert the decimal to float, then hist is available. 

    ```
    import decimal
    
    D = decimal.Decimal

    data = [D(str(item)) for item in df['minutes_norm']]

    plt.hist(np.asarray(data, dtype = 'float'), bins = 100)
    plt.savefig('minutes_norm_hist.png')

    ```

## Common w/ Big Data

### Check Data Basic Info

- df.info() to get all the col information. 

- for categoary data: df.colname.value_counts() to get the rough idea about one column of data

- for contnuous data: df.colname.describe()

In [10]:
import pandas as pd

df = pd.read_csv('sitka_weather_2018_full.csv')
df.info()
df['TMAX'].describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405 entries, 0 to 404
Data columns (total 19 columns):
STATION    405 non-null object
NAME       405 non-null object
DATE       405 non-null object
AWND       404 non-null float64
PGTM       404 non-null float64
PRCP       405 non-null float64
SNWD       26 non-null float64
TAVG       0 non-null float64
TMAX       404 non-null float64
TMIN       404 non-null float64
WDF2       404 non-null float64
WDF5       404 non-null float64
WSF2       404 non-null float64
WSF5       404 non-null float64
WT01       25 non-null float64
WT02       1 non-null float64
WT04       3 non-null float64
WT05       1 non-null float64
WT08       1 non-null float64
dtypes: float64(16), object(3)
memory usage: 60.2+ KB

count    404.000000
mean      50.594059
std        9.374140
min       21.000000
25%       43.000000
50%       50.000000
75%       58.000000
max       73.000000
Name: TMAX, dtype: float64